* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: Roboto;
}

.topo {
  position: fixed;
  left: 0px;
  top: 0px;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  z-index: 1;
}

.conteiner {
  position: absolute;
  top: 70px;
  left: 8.5%;
  right: 8.5%;
}

.seusQuizzesVazio {
  background-color: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 181px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: #b9b9b9;
  margin-top: 80px;
  margin-bottom: 80px;
}

.seusQuizzesVazio button {
  border: 1px dashed #ec362d;
  color: #ec362d;
  background-color: #fafafa;
  border-radius: 50px;
  font-weight: 400;
  font-size: 21px;
}

.criarInfoBasicas,.quizzPronto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.criarInfoBasicas span,.quizzPronto span {
  font-size: 23px;
  line-height: 27px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.criarInfoBasicas div {
  width: 600px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

input {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: black;
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  width: 90%;
  height: 46px;
  padding-left: 3%;
  overflow-x: scroll;
}

::placeholder {
  color: #bababa;
  padding-left: 3%;
}

button {
  background-color: #ec362d;
  border-radius: 15px;
  color: #fff5f4;
  font-weight: 400;
  font-size: 21px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 368.86px;
  height: 54px;
  border: 0px;
  margin-top: 80px;
}

.criarInfoPerguntas,
.criarInfoNiveis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.criarInfoPerguntas > span,
.criarInfoNiveis > span {
  font-size: 23px;
  line-height: 27px;
  font-weight: 700;
  align-items: left;
  color: #000000;
  margin-left: 5%;
  margin-bottom: 12px;
}

.headerNivel span,
.conteinerPergunta span,
.conteiner > span {
  font-weight: 700;
  font-size: 20px;
}

.headerNivel ion-icon,
.headerPergunta ion-icon {
  position: absolute;
  right: 0;
  font-weight: 700;
  font-size: 23px;
}

.conteinerNivel,
.conteinerPergunta {
  position: relative;
  width: 600px;
  height: 74px;
  overflow-y: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: height 0.5s;
}

.conteinerNivel.expandido {
  height: 316px;
}

.inputNivel {
  position: absolute;
  top: 62px;
  bottom: 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headerNivel,
.headerPergunta {
  position: absolute;
  top: 27px;
  left: 5%;
  right: 5%;
}

/*---------------------------------------------------------------------------------------------------------*/

.conteinerPergunta.expandido {
  height: 825px;
}

.inputPergunta {
  position: absolute;
  top: 0;
  bottom: 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textoPergunta,
.respCorreta,
.respIncorreta {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 62px;
  height: 104px;
}
.respCorreta {
  top: 243px;
}
.respIncorreta {
  top: 414px;
  height: 380px;
}

.respIncorreta > div {
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputPergunta span:nth-child(2) {
  position: absolute;
  left: 5%;
  top: 196px;
}
.inputPergunta span:nth-child(4) {
  position: absolute;
  left: 5%;
  top: 377px;
}

.quizzCriado{
  position: relative;
  width: 500px;
  height: 266px;
  margin-top: 46px;
  border-radius: 5px;
  background-size: cover;
}



.quizzCriado p{
  position: absolute;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 23px;
  bottom: 9px;
  left: 23px;
}

.quizzPronto > p{
  font-weight: 400;
  font-size: 21px;
  color: #818181; 
  margin-top: 10px;
}

/*----------------------------------------------------------------------*/

.todosOsQuizzes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;

  
}

.quizzExibido{
  position: relative;
  width: 32.5%;
  height: 181px;
  border-radius: 5px;
  background-size: cover;
  margin-bottom: 12px;
  overflow-wrap:anywhere;
  
}

.quizzExibido p{
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 5%;

  
}

/*--------------------------------------------------------------------*/

.bannerQuizz{
  position: absolute;
  width: 100%;
  top: 70px;
  height: 227px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

}

.bannerQuizz p{
  font-weight: 400;
  font-size: 39px;
}

.perguntas{
  position: absolute;
  top: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.perguntas button{
  margin-bottom: 15px;
}

.pergunta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 759px;
  height: 676px;
  padding: 25px 35px 35px 35px;
  margin-bottom: 50px;
}


.perguntaTexto, .tituloNivel{
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.perguntaTexto p, .tituloNivel p{
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;
  overflow-wrap: anywhere;
}

.resposta img{
  width: 329.91px;
  height: 175.2px;
}

.resposta{
  opacity: 0.3;

}

.resposta p{
  overflow-wrap: anywhere;
}


.true{
  color: #009C22;
}

.false{
  color: #FF4B4B;
}

.naoSelecionado{
  opacity: 1;
  color: #000000;
}

.selecionado{
  opacity: 1;
}

/*-------------------------------------------------*/

.templateNivel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  width: 759px;
  height: 430px;
  gap: 15px;
  padding: 18px;
  margin-bottom: 50px;
}

.tituloNivel {
  background-color: #ec362d;

}

.templateNivel img{
  width: 364px;
  height: 273px;
}

.textoNivel{
  font-weight: 700;
  font-size: 19px;
  color: #484848;
  word-wrap: anywhere;
}

.voltarHome p{
  font-weight: 400;
  font-size: 21px;
  color: #818181;
  margin-bottom: 90px;
}

.escondido {
  display: none;
}

@media (max-width: 1100px) {
}
